$baseunit: .5rem;

* {
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
}

main {
  overflow: hidden;
}

.headertwo {
  background-color: #e6e6e6;
}

.wrapper {
  // width calculated in jQuery
  display: flex;
  flex-wrap: nowrap;
  transition: all 1s;
  background-color: #e6e6e6;
}
.panel {
  position: relative;
  width: 100vw;
  height: 72vh;
  background-image: url("../img/timeline.png");
  background-size: 60%;
  background-repeat: repeat-x;
  background-position: bottom left;
  padding-bottom: 5rem;
  img {
    width: 30%;
    }
  }

ul {
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  margin: 0;
  padding: $baseunit*2;
  list-style: none;

  li {
    margin: auto $baseunit;
    font-weight: 100;
    font-size: $baseunit*1.75;
    letter-spacing: 1px;
    color: #fff;
    &:hover {
      cursor: pointer;
      color: #ccc;
    }
  }
}

