header {
	h1 {
		font-family: chelsea-market-pro, sans-serif;
		color: #006973;
	}

	h2 {
		font-family: chelsea-market-pro, sans-serif;
		font-size: 2.2rem;
		color: #006973;
	}
	nav {
		font-family: chelsea-market-pro, sans-serif;
		
	}
}

main {
	h1 {
		font-family: chelsea-market-pro, sans-serif;
		font-size: 1rem;
		color: #60B2B1;
	}
	h2 {
		font-family: chelsea-market-open, sans-serif;
		font-size: 3rem;
		color: #006973;
	}
}

p {
	font-family: objektiv-mk1, sans-serif;
	color: #E18B5C;
}

a {
	color: #60B2B1;
}