main {
	.main {
		padding-top: 20%;
		padding-left: 30%;
		padding-right: 30%;
	}
}

.panel {
	h1{
		padding-left: 30%;
	}
	h2{
		padding-left: 30%;
	}
	p{
		padding-left: 30%;
		padding-right: 30%;
		padding-bottom: 0%;
	}
}